<app-navbar></app-navbar>

<div class="fake_body">

  <div class="board">
    <div class="column">
      <h2>To Do</h2>
      <div class="task-list" id="todo">
        <div class="task">Task 1</div>
        <div class="task">Task 2</div>
      </div>
    </div>

    <div class="column">
      <h2>In Progress</h2>
      <div class="task-list" id="in-progress">
        <div class="task">Task 3</div>
      </div>
    </div>

    <div class="column">
      <h2>Done</h2>
      <div class="task-list" id="done">
        <div class="task">Task 4</div>
      </div>
    </div>
  </div>
</div>
